#app {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-ms-touch-action: none;
}

body {
	overflow: hidden; /* this is important to prevent the whole page to bounce */
}
