.group-books-count{
  font-size: 10px;
  color: white;
  position: absolute;
  top: 2px;
  left: 5px; 
}

.group-shevron{
  position: absolute;
  right: 10px;
  top: 15px;
  transition: 400ms ease;
}


.date-caps-inline,
.date-caps{
	font-size: 14px;
  color: #414242;
	display: block
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 25px;/
  font-weight: 600;
}

.date-caps-inline{
  display: inline-block
}

.the-box div.the-header{
	margin-left: -20px;
    margin-top: -20px;
    margin-right: -20px;
    margin-bottom: 10px;
    height: 30px;
    padding: 7px;
    font-weight: bold;

}


p {
  font-size: 13px;
}

.comments-info{
  font-size: 11px;
  color: #656D78;
}


.thegroup{
  width: 400px;
  height: 50px;
  position: absolute;
  display: block;
  transition: 400ms ease;  
  color: white;
  padding-top: 4px;
  cursor: pointer;
}

.thecard {
  overflow: hidden;
  padding: 0px;
  padding-bottom: 10px;
  text-decoration: none;
  width: 400px;
  /*margin: 5% auto;*/
  /*box-shadow: 0 0px 1px rgba(0,0,0,.4)*/
  box-shadow: 0 3px 1px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
  display: block;
  background-color: #fff;
  border-radius: 4px;
  transition: 400ms ease;
  position: absolute;
}

.card-header {
	height: 5px;
}

.card-side {
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


.card-img {
  height: 125px;
}

.card-img img {
  width:100%;
  border-radius: 4px 4px 0px 0px;
}

.card-caption {
  margin-top: -2px;
  position: relative;
  background: #ffffff; 
  padding: 0px 25px 5px 25px;
  border-radius: 0px 0px 4px 4px;
}

.card-outmore {
  height: 30px;
  width: 100%;
  padding: 10px 25px 10px 25px;
  border-radius: 0px 0px 4px 4px;
  border-top: 1px solid #e0e0e0;
  background: #efefef;
  color: #222;
  display: inline-table;
  transition: 400ms ease;
}
.card-outmore h5 {
  float: left;
}
.card-outmore i {
  float: right;
}

span.date {
  font-size: 10px;
}

h1 {
  font-size: 22px;
}

h5 {
  margin:0;
}

.like-btn {
  font-size: 18px;
  background: #446CB3;
  color: #fff;
  padding: 13px 15px;
  border-radius: 50em;
  position: absolute;
  right: 20px;
  box-shadow: 0 2px 1px rgba(0,0,0,.2);
  transition: 400ms ease;
}

.like-btn:hover {
  font-size: 18px;
  background: #3B5998;
  color: #fff;
  padding: 13px 15px;
  border-radius: 50em;
  position: absolute;
  right: 20px;
  box-shadow: 0 4px 5px rgba(0,0,0,.3);
}

.outmore-icon {
  border:1px solid ;
  padding: 1px 6px;
  border-radius: 50em;
}