<li class="media">
	<div class="pull-left">
	<a  href="#">
	  <img class="media-object img-circle" src="{{image}}" alt="Avatar">
	</a>
	<!-- <div class="comment-number">{{number}}</div> -->
	</div>	
	<div class="media-body">
	  <h4 class="media-heading">
	  	<a href="{{authorUrl}}" v-show='showAuthorAsUrl' target='_blank'>{{author}}</a>
	  	<span v-show='showAuthorAsSpan'>{{author}}</span>
	  	<a href="mailto:{{email}}" v-show='showAuthorEmail' target='_blank' style="font-size: 13px; margin-left: 10px">{{email}}</a>
	  </h4>
	  <div class="comment-number pull-right">{{number}}</div>
	  <p class="date"><small>{{published_moment}}</small></p>
	  <span v-html="commentHtml"></span>
	  <p class="comment-action">
<!-- 	  <a data-toggle="tooltip" title="25 likes" class="btn btn-xs btn-default btn-square"><i class="fa fa-thumbs-up"></i> 25</a> 
	  <a data-toggle="tooltip" title="5 shares" class="btn btn-xs btn-default btn-square"><i class="fa fa-share-square-o"></i> 5</a> 
	  <a data-toggle="tooltip" title="Reply comment" class="btn btn-xs btn-default btn-square"><i class="fa fa-reply"></i></a>  -->
	  </p>  
	</div>
</li>