<div class="modal fade" id="DarkNoShadowInputModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content modal-no-shadow">
	  <div class="modal-header bg-dark no-border">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">{{title}}</h4>
	  </div>
	  <div class="modal-body">		
	  	<label>{{description}}</label>
		<input type="text" class="form-control rounded bold-border" placeholder="URL автора" value="{{input}}" v-model="input" v-on:keyup.enter="onOk">
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
		<button type="button" class="btn btn-primary" v-on='click: onOk' data-dismiss="modal">Ok</button>
	  </div><!-- /.modal-footer -->
	</div><!-- /.modal-content .modal-no-shadow -->
  </div><!-- /.modal-dialog -->
</div><!-- /#DarkNoShadowModal -->