<!-- <div class="fast-comments tooltips" style="left:{{panelLeft}}px!important; width: {{panelWidth}}px" v-show="visible">	 -->
<div class="fast-comments tooltips" style="right:{{panelRight}}px; width: {{panelWidth}}px" v-show="visible">	

	
				
				<div id='commentsListHeader' style='padding-right: 15px;padding-left: 15px;'>
					<!-- Begin page heading -->
					<h1 class="page-heading"  style='padding-right: 120px'>{{book.title}}
						<div class="btn-comments-close" v-on="click: onClose">
		               		<i class="fa fa-times"></i>
    	       			</div>
						<div class="btn-comments-togle-expand" v-on="click: onToggleExpand">
		               		<i class="fa fa-expand"></i>
    	       			</div>
						<div class="btn-comments-refresh" v-on="click: onRefresh">
		               		<i class="fa fa-refresh"></i>
    	       			</div>

					</h1>
				</div>
				<div id='progressPlaceholder' style="padding: 2px"></div>
					<!-- End page heading -->
				<div id="commentsList" style="overflow-y: auto; overflow-x: hidden; height: {{listHeight}}px">
					<div class="container-fluid">
					
						<div style="background-color: #f5f7fa;padding: 10px;">
							<small v-html="book.annotationHtml" style='color: #6D7379;;'></small>
						</div>
																					
						<!-- BEGIN COMMENT WIDE -->
						<div class="the-box no-border">
							<h4 class="small-heading more-margin-bottom">{{book.commentsDescription}}</h4>
							<ul class="media-list media-sm media-dotted">
							  <comment v-repeat="commentsPage.comments"></comment>
							</ul>
						</div><!-- /.the-box .transparent .full -->
						<!-- END COMMENT WIDE -->																		
					
					</div><!-- /.container-fluid -->

				</div>
				<footer style="height: 50px; padding: 7px; margin-top: 5px">				
					<ul class="pagination " style="margin-top: 0px">
						<li>
							<a href="#" v-on="click: setFirstPage()">«</a>
						</li>
						<li>
							<a href="#" v-on="click: setPreviousPage()">‹</a>
						</li>

						<li v-repeat="n in pagesLeft" class="{{ isActive(n) }}" v-on="click: setPage(n)">
							<a href="#">{{ n }}</a>
						</li>

						<li>
							<a href="#" v-show="showMore()" class="disabled">...</a>
						</li>

						<li>
							<a href="#" v-on="click: setNextPage()">›</a>
						</li>
						<li>
							<a href="#" v-on="click: setLastPage()">»</a>
						</li>
					</ul>
				</footer>
														
</div>